.lateral-window{
    height: 690px;
    width: 260px;
}
.player-window{
    width: 247px;
    height: 677px;
    margin: 5px 0px 0px 5px;
}
#central-window{
    width: 905px;
    height: 690px;
    margin: 0px 15px 0px 15px;
}
#game-window{
    height: 677px;
    width: 892px;
    margin: 5px 0px 0px 5px;
}

#text-window{
    margin: auto;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
    border-style: groove;
}
#action-window{
    width: 870px;
    height: 250px;
    border: 2px solid whitesmoke;
    margin: 0px 10px 10px 10px;
}
#action-window>.display-b>a{
    width: 200px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
#action-window>.display-b{
    padding: 20px 0px 0px 190px;
}
.player-image{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
}
.player-status{
    width: 120px;
    height: 150px;
    font-size: 20px;
    color: white;
    margin: 0px 0px 0px 50px;
}
.action-text{
    color: white;
    font-size: 50px;
}
#act-sair{
    position: absolute;
    margin: 290px 0px 0px 80px;
}
table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}
td{
    width: 50;
    height: 50px;
    border-style: groove;
}
#screen-window{
    width: 300px;
    height: 300px;
    margin: 10px 0px 10px 290px;
    position: relative;
    z-index: 1;
}
#event{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 120px;
    left: 670px;
    z-index: 2;
}
#event-img{
    height: 130px;
    width: 130px;
    margin: 5px 0px 0px 10px;
}
#event-hp{
    width: 40px;
    height: 25px;
    margin: 0px 0px 5px -13px;
    color: white;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
}
#event-hp-icon{
    margin: 0px 0px 0px 45px;
}
#text-event{
    position: absolute;
    width: 480px;
    height: 25px;
    font-size: 18px;
    color: white;
    margin: 25px 0px 0px 10px;
}
hr{
    margin-top: 320px;
    width: 220px;
}
#player-gold{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
#gold-icon{
    margin: 0px -10px 0px 10px;
}