body{
    background-image: url("../img/menu-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
ul{
    list-style: none;
}
/*Cores*/
.blue{
    background-color: #182B31;
}
.green{
    background-color: #00A54E;
}
.white-border{
    border: 2px solid whitesmoke;
}
/*Funcionalidades*/
.player-image{
    width: 100px;
    height: 100px;
    margin: 15px 0px 5px 190px;
}
.btn-normal{
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
}
.green-hover:hover{
    background-color: #00a54dd1;
    cursor: pointer;
}